<html ng-app="notesApp">
    <head>
        <title>Hello AngularJS</title>
        <style>
            .done {
                background-color: green;
            }
            .pending {
                background-color: red;
            }
        </style>
    </head>
    <body ng-controller="MainCtrl as ctrl">
    
        <button ng-click="ctrl.changeNotes()">Change Notes</button>
        <br/>
        DOM Elements change every time someone clicks
        <div ng-repeat="note in ctrl.notes1">
            {{note.$$hashKey}}
            <span class="label">{{note.label}}</span>
            <span class="author" ng-bind="note.done"></span>
        </div>
        <br/>
        DOM elements are reused every time someone clicks
        <div ng-repeat="note in ctrl.notes2 track by note.id">
            {{note.$$hashKey}}
            <span class="label">{{note.label}}</span>
            <span class="author" ng-bind="note.done"></span>
        </div>
    

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
        <script type="text/javascript">
            angular.module('notesApp', []).controller('MainCtrl', [function() {
                // Controller code
                var self = this;

                var notes = [
                    {id: 1, label: 'First note', done: false, assignee: 'Onno', someRandom: 2341},
                    {id: 2, label: 'Second note', done: true, assignee: 'Shyam'},
                    {id: 3, label: 'Third note', done: true, assignee: 'Onno'},
                    {id: 4, label: 'Fourth note', done: false},
                    {id: 5, label: 'Fifth note', done: false}];
                self.notes1 = angular.copy(notes);
                self.notes2 = angular.copy(notes);
                self.changeNotes = function() {
                    notes = [
                        {id: 1, label: 'First note', done: false, assignee: 'Onno', someRandom: 9239},
                        {id: 2, label: 'Second note', done: true, assignee: 'Shyam'},
                        {id: 3, label: 'Third note', done: true, assignee: 'Onno'},
                        {id: 4, label: 'Fourth note', done: false},
                        {id: 5, label: 'Fifth note', done: false}];
                    self.notes1 = angular.copy(notes);
                    self.notes2 = angular.copy(notes);
                };
                self.getNoteClass = function(status) {
                    return {
                        done: status,
                        pending: !status
                    };
                };
            }]);
        </script>


    </body>
</html>
